/*
 * box-sizing: border-box property allows us to include
 * the padding and border in an element's total width and height
 */
* {
	box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ3shNTjggsNY-wE5APE6X_1306vuY6dkS075_019uAhhWvgoJ");

}

.header {
  background-image: url("https://media.tenor.com/images/49da2fd18528fb59a88c7b73573494e5/tenor.gif");
	padding: 20px;
	text-align:center;
}

.header h1 {
    font-size: 53px;
}

.supersize {
    font-size: 90px;
    color:white;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbHXPCXUMaNAHu3VIHvyEcQQUuXg1DrMBR8SU5FEdn4L9en0R9");
}

.topnav {
	overflow: hidden;
	background-image: url("purplePaint.gif");
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #1f2633;
	color: white;
}

.leftcolumn {
	float: left;
	width: 75%;
}

.rightcolumn {
	float: left;
	width: 25%;
	background-color: #f2f2f2;
	padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: yellow;
    padding: 20px;
    margin-top: 20px;:
}

.footer {
    background-image: url("snow.gif");
    text-align: center;
    padding: 10px;
}